<div id="{{id || undefined}}" class="<%= styles.header %>{{className ? ' ' + className : ''}}">
    <div class="<%= styles.tollbar %>">
        <div class="<%= styles.fileBtn %>">
            <span class="iconfont">&#xe6df;
                <span>文件</span>
            </span>
        </div>
        <div s-for="toolbarConfig, i in toolbars" class="<%= styles.tabs %>" on-click="events.tabClick(i)">
            <div title="{{toolbarConfig.text}}"
                class="<%= styles.tab %> {{selectTabKey !== undefined && selectTabKey === i ? '<%= styles.active %>' : ''}}">
                <span s-if="!!toolbarConfig.iconHtml" class="iconfont">{{toolbarConfig.iconHtml}}</span>
                <span>{{toolbarConfig.text}}</span>
            </div>
        </div>
        <div class="<%= styles.tabFold %>" title="{{expand ? '收起' : '展开'}}" on-click="events.tabPanExpandClick()">
            <span class="iconfont">{{expand?'&#xe718;':'&#xe615;' | raw}}</span>
        </div>
    </div>
    <div class="<%= styles.tabPanels %> {{expand ? '<%= styles.active %>' : ''}}">
        <div s-for="toolbarConfig, i in toolbars" s-show="selectTabKey !== undefined && selectTabKey === i"
            class="<%= styles.tabPanel %>" style="{{fns.handleTabPanelWidth(toolbarConfig)}}">
            <div s-for="toolInfo in toolbarConfig.tools">
                <div s-ref="ref-tool-{{toolInfo.nodeInfo && toolInfo.nodeInfo.renderId}}"
                    s-if="!!toolInfo.nodeInfo && toolInfo.type === 'default'" class="<%= styles.tool %>"
                    title="{{(toolInfo.nodeInfo && toolInfo.nodeInfo.title) || ''}}"
                    style="{{fns.handleNodeInfoWidth(toolInfo.nodeInfo)}}">
                    <div s-if="toolInfo.nodeInfo && !toolInfo.nodeInfo.renderId"
                        class="{{toolInfo.nodeInfo.className || '<%= styles.icon %>'}}">
                        <span class="iconfont">{{toolInfo.nodeInfo.html | raw}}</span>
                    </div>
                    <div s-if="toolInfo.nodeInfo && !toolInfo.nodeInfo.renderId && toolInfo.nodeInfo.text"
                        class="{{toolInfo.nodeInfo.className || '<%= styles.text %>'}}">
                        <span>{{toolInfo.nodeInfo.text}}</span>
                    </div>
                    {{(toolInfo.type === 'default' && toolInfo.nodeInfo && toolInfo.nodeInfo.renderId) ?
                    events.handleRender(toolInfo.nodeInfo.renderId) : undefined}}
                </div>
                <div s-if="toolInfo.type === 'separate'" class="<%= styles.separate %>">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>