@fontSize: 12px;
@fontFamily: Microsoft YaHei UI-Regular, Microsoft YaHei UI;
@fontAlign: center;
@fontWeight: 400;
@fontColor: #fff;

@headerToolPanelHeight: 50px;

.common_font {
  font-size: @fontSize;
  text-align: @fontAlign;
  font-family: @fontFamily;
  font-weight: @fontWeight;
  color: @fontColor;
}
