@import "../../styles/commom.less";

.select {
  width: 100%;
  height: 28px;
  border: 1px solid #888;
  border-radius: 4px;
  margin: 0 auto;
  transition: all 0.3s;
  line-height: 28px;

  > .value {
    .common_font;
    .text_overflow;
    width: 100%;
    height: 100%;
    padding: 0 6px;
    color: #333;
    text-align: left;
  }

  &:hover {
    border: 1px solid #40a9ff;
  }
}
